.DS_Store

.idea/shelf

.idea/tasks.xml

.idea/workspace.xml

!build/
build/*
!build/dist
build/dist/*
!build/dist/worldwind.min.js
!build/dist/worldwind.js
!build/dist/README.md
!build/dist/LICENSE
!build/dist/images
!build/dist/images/*
!build/dist/images/pushpins
!build/dist/images/pushpins/*
!build/dist/images/view
!build/dist/images/view/*

nasaworldwind-worldwind-*.tgz

node_modules/

npm-debug.log
/nbproject/private/