.DS_Store

.idea/shelf

.idea/tasks.xml

.idea/workspace.xml

!build/
build/*
!build/dist
build/dist/*
!build/dist/worldwind.min.js

nasaworldwind-worldwind-*.tgz

node_modules/

npm-debug.log
/nbproject/private/